body { 
  margin: 0;
  overflow: hidden;
  font-family: Verdana, sans-serif;
}

h1, h2, h3, h4, h5, p, li {
  color: white;
}

#sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #11111188;
  overflow-x: hidden;
  padding: 20px;
  
  visibility: hidden;
}

#container {
  position: relative;
}

.overlay {
  position: absolute;
  background-color: none;
}

#overlay-top {
  height: auto;
  width: 100%;

  top: 0px;
  left: 0px;
}

.header {
  text-align: center;
  margin: 0px;
  color: white;
  background: none;
}

#passwordContainer {
  visibility: visible;
}