body { 
  margin: 0;
  overflow: hidden;
}

#container {
  position: relative;
  /* border: 2px solid #ff0000; */
}

#overlay {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: none;

  top: 0px;
  left: 0px;
}

.header {
  text-align: center;
  margin: 0px;
  color: white;
  background: none;
}

#passwordContainer {
  visibility: visible;
}